.set_tempo{
    width: 48px;
    border-color: black;
}
.barra{
    width: 100%;
    height: 100px;
    background-color: lightgreen;
    text-align: center;
}

.mobile{
    font-size: 30px;
    color: white;
}

#desktop{
    display: none;
}

#tablet{
    display: none;
}
.conteudo{
    width: 100%;
    background-color: aquamarine;
}
.botoes{
    width: 100%;
    height: 30px;
    background-color: antiquewhite;
    font-size: 22px;
    padding-top: 4px;
    padding-bottom: 6px;
}
.abageral{
    width: 100%;
    height: 400px;
    display: none;
}
.aba1{
    background-color: lightgoldenrodyellow;
    display: none;
}

.aba2{
    background-color: cyan;
    display: none;
}

.aba3{
    background-color: lightcoral;
    display: none;
}

.aba4{
    background-color: teal;
    display: none;
}

@media (max-width: 800px){
    #desktop{
        display: none;
    }
    #tablet{
        display: none;
    }
}

@media (min-width:800px){
    .barra{
        height: 150px;
        background-color: red;
    }
    .mobile{
        display: none;
    }
    #desktop{
        display: none;
    }
    #tablet{
        display: inline;
        font-size: 30px;
        color: white;
    }  
}

@media (min-width: 1228px){
    .barra{
        height: 200px;
        background-color: blue;
    }
    .mobile{
        display: none;
    }
    #tablet{
        display: none;
    }
    #desktop{
        display: inline;
        font-size: 30px;
        color: white;
    }

}

.rodape{
    text-align: center;
}